[submodule "nvim/.config/nvim-plugins/nerdtree"]
	path = nvim/.config/nvim-plugins/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "nvim/.config/nvim-plugins/fzf.vim"]
	path = nvim/.config/nvim-plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/.config/nvim-plugins/fzf"]
	path = nvim/.config/nvim-plugins/fzf
	url = https://github.com/junegunn/fzf
[submodule "nvim/.config/nvim-plugins/coc.nvim"]
	path = nvim/.config/nvim-plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "nvim/.config/nvim-plugins/ale"]
	path = nvim/.config/nvim-plugins/ale
	url = https://github.com/dense-analysis/ale
[submodule "nvim/.config/nvim-plugins/nerdtree-git-plugin"]
	path = nvim/.config/nvim-plugins/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "nvim/.config/nvim-plugins/onedark.vim"]
	path = nvim/.config/nvim-plugins/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "nvim/.config/nvim-plugins/tagbar"]
	path = nvim/.config/nvim-plugins/tagbar
	url = https://github.com/preservim/tagbar
[submodule "nvim/.config/nvim-plugins/ultisnips"]
	path = nvim/.config/nvim-plugins/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "nvim/.config/nvim-plugins/vim-airline"]
	path = nvim/.config/nvim-plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/.config/nvim-plugins/vim-code-runner"]
	path = nvim/.config/nvim-plugins/vim-code-runner
	url = https://github.com/xianzhon/vim-code-runner
[submodule "nvim/.config/nvim-plugins/vim-commentary"]
	path = nvim/.config/nvim-plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "nvim/.config/nvim-plugins/vim-devicons"]
	path = nvim/.config/nvim-plugins/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "nvim/.config/nvim-plugins/vim-expand-region"]
	path = nvim/.config/nvim-plugins/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "nvim/.config/nvim-plugins/vim-fugitive"]
	path = nvim/.config/nvim-plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/.config/nvim-plugins/vim-gitgutter"]
	path = nvim/.config/nvim-plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/.config/nvim-plugins/vim-nerdtree-syntax-highlight"]
	path = nvim/.config/nvim-plugins/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "nvim/.config/nvim-plugins/vim-polyglot"]
	path = nvim/.config/nvim-plugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "nvim/.config/nvim-plugins/vim-sneak"]
	path = nvim/.config/nvim-plugins/vim-sneak
	url = https://github.com/searleser97/vim-sneak
[submodule "nvim/.config/nvim-plugins/vim-sneak"]
	path = nvim/.config/nvim-plugins/vim-cutlass
	url = https://github.com/svermeulen/vim-cutlass
[submodule "nvim/.config/nvim-plugins/vim-snippets"]
	path = nvim/.config/nvim-plugins/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "nvim/.config/nvim-plugins/vim-startify"]
	path = nvim/.config/nvim-plugins/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "nvim/.config/nvim-plugins/vim-surround"]
	path = nvim/.config/nvim-plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/.config/nvim-plugins/vim-unimpaired"]
	path = nvim/.config/nvim-plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/.config/nvim-plugins/vim-coderunner"]
	path = nvim/.config/nvim-plugins/vim-coderunner
	url = git@github.com:0x84/vim-coderunner.git
