[core]
  editor = nvim
  longpaths = true

[user]
  name = Arhun Saday
  email = arhunsad@gmail.com

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = master

[help]
  autocorrect = 01

[alias]
  unstage = reset HEAD --
  s = status
  co = checkout
  lg = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  del = branch -D
  undo = reset HEAD~1 --mixed
  res = !git reset --hard
  done = !git push origin HEAD
  st = status -sb
  last = log -1 HEAD --stat
  cm = commit -m
  cam = commit -a -m
  rv = remote -v
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = grep
  l = log
  m = merge
  o = checkout
  p = pull
  r = remote
  s = status
  w = whatchanged
  pushf = push --force-with-lease <remote> <branch>
  commitamend = commit --amend --no-edit

  co = checkout
  cob = checkout -b
  coo = !git fetch && git checkout
  br = branch
  brd = branch -d
  st = status
  aa = add -A .
  cm = commit -m
  amend = commit --amend -m
  fix = commit --fixup
  unstage = reset --soft HEAD^
  undo = reset HEAD~1
  rv = revert
  cp = cherry-pick
  pu = !git push origin `git branch --show-current`
  fush = push -f
  mg = merge --no-ff
  rb = rebase
  rbc = rebase --continue
  rba = rebase --abort
  rbs = rebase --skip
  rom = !git fetch && git rebase -i origin/master --autosquash
  save = stash push
  pop = stash pop
  apply = stash apply
  rl = reflog
