format = """
$directory\
$git_branch\
$git_status\
$status\
$all$character"""

[character]
format = " $symbol "
success_symbol = "[❱](bold #98c379)"
error_symbol = "[❱](bold #e06c75)"
vicmd_symbol = "[◆](bold #e5c07b)"

[directory]
style = "bold fg:#61afef"
format = "[ $read_only$path ]($style)"
read_only = " "
fish_style_pwd_dir_length = 3
truncate_to_repo = true
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
style = "bold fg:#818cf8"
format = "[$symbol$branch]($style)"
symbol = "\uf418 "

[git_status]
style = "fg:#a78bfa"
format = "[$all_status$ahead_behind ]($style)"
stashed = ""
ahead = " \uf062 ${count}"
behind = " \uf063 ${count}"
diverged = " \uf062 ${ahead_count} \uf063 ${behind_count}"
conflicted = " \uf024 ${count}"
renamed = " \uf246 ${count}"
modified = " \uf040 ${count}"
deleted = " \uf00d ${count}"
staged = " \uf00c ${count}"
untracked = " \uf059 ${count}"

[git_metrics]
disabled = false
added_style = "fg:#98c379"
deleted_style = "fg:#e06c75"
format = "([\uf457 $added]($added_style) )([\uf458 $deleted]($deleted_style)) "

[jobs]
format = "[ $symbol$number]($style)"

[status]
disabled = true
[battery]
disabled = true
[package]
disabled = true