/******************************************/
/***   To use with Sidebery extension   ***/
/******************************************/

#sidebar-header {
  display: none !important;;
}

/* adding whitespace around url field for better highlight */
/* #nav-bar-customization-target {
	padding: 6px 0 4px 5px;
} */
#PanelUI-button {
	padding-left: 5px;
}

/* push nav buttons to the right to make space for window controls */
/* #nav-bar-customization-target {
	padding-left: 50px;
} */
/* #navigator-toolbox {
  padding-right: 7rem;
} */

/* #main-window #TabsToolbar {
	height: 0px !important;
	min-height: 0!important;
	overflow: hidden;
	transition: height .3s .3s !important;
} */

/* push those pesky window controls to the urlbar, where they belong */
/* #TabsToolbar .titlebar-buttonbox {
	position: fixed!important;
	top: 14px;
	display: inline;
} */

/* push those pesky window controls to the urlbar, where they belong */
/* #TabsToolbar .titlebar-buttonbox {
	position: fixed !important;
	display: flex;
  position: absolute;
  right: 0px;
  justify-content: flex-end;
  right: 0px;
} */



/****************/
/***   Misc   ***/
/****************/

/* Custom page action icons for some extensions */
#pageAction-urlbar-_0d49b33c-467a-4897-bea4-c82d6756e5c4_ {  
 --pageAction-image-16px: url("https://api.iconify.design/bx:rocket.svg?color=%23ffffff") !important;
 --pageAction-image-32px: url("https://api.iconify.design/bx:rocket.svg?color=%23ffffff") !important;
}
@media (prefers-color-scheme: light) {
  #pageAction-urlbar-_0d49b33c-467a-4897-bea4-c82d6756e5c4_ {  
 --pageAction-image-16px: url("https://api.iconify.design/bx:rocket.svg?color=%23292929") !important;
 --pageAction-image-32px: url("https://api.iconify.design/bx:rocket.svg?color=%23292929") !important;
}
}
#pageAction-urlbar-_testpilot-containers {
 --pageAction-image-16px: url("https://api.iconify.design/ph:arrow-square-out-bold.svg?color=%23fffff") !important;
 --pageAction-image-32px: url("https://api.iconify.design/ph:arrow-square-out-bold.svg?color=%23fffff") !important;
}

/* Make close button square */
.titlebar-button:-moz-lwtheme {
  border-radius: 0% !important;;
}

/* Make pinned tabs wider */
.tabbrowser-tab[pinned] { width: 70px !important; }
.tab-label-container[pinned] { visibility: default !important; }
.tab-throbber, .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-overlay {
  margin-inline-end: 5.5px;
}
.tab-label-container[textoverflow][labeldirection="ltr"], .tab-label-container[textoverflow]:not([labeldirection]):-moz-locale-dir(ltr) {
  direction: ltr;
  mask-image: linear-gradient(to left, transparent, black var(--tab-label-mask-size));
}

/* Add more padding to bookmark folders in the toolbar */
.bookmark-item {
  padding: 3px 2.5px !important;;
}

/* Reduce addon page action opacity */
.urlbar-addon-page-action {
  opacity: 70% !important;;
}

/* Move container color bar to bottom of tab */
.tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-background
  > .tab-context-line {
  margin-top: calc(var(--tab-min-height) - 0px) !important;
}

.titlebar-spacer {
  display: none;
}

.titlebar-spacer[type="pre-tabs"] {
  display: none;
}

#TabsToolbar {
  padding-inline-start: initial !important;
}
.tabbrowser-tabs:not([movingtab])
  .tabbrowser-tab[first-visible-tab]
  .tab-background,
.tabbrowser-tabs[movingtab]
  .tabbrowser-tab[first-visible-tab][style*="translateX(0px)"]
  .tab-background {
  border-inline-start: initial !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

#TabsToolbar .toolbarbutton-1 {
  margin: 0 0 var(--tabs-navbar-shadow-size) !important;
  margin-left: 10px !important;
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#urlbar-label-box {
  background-color: var(--urlbar-box-bgcolor);
  color: var(--urlbar-box-text-color);
  padding-inline: 8px;
  border-radius: var(--urlbar-icon-border-radius);
  display: none;
}

#urlbar .search-one-offs:not([hidden]) {
  display: none !important;
}

.urlbarView {
  padding-bottom: 5px !important;
}

/* Reduce back and forward button opacity when there's nothing to go to*/
#back-button[disabled="true"] {
  opacity: 20% !important;
}

#forward-button[disabled="true"] {
  opacity: 20% !important;
}

#PlacesToolbarItems {
  padding-bottom: 3px !important;
}

/**********************************/
/***   Add bookmark drop-down   ***/
/**********************************/

/* Hide Giant Thumbnail and Favicon */
#editBookmarkPanelImage,
*|div#editBookmarkPanelFaviconContainer {
  display: none !important;
}

/* Unhide URL field */
#editBMPanel_locationRow[collapsed="true"] {
  visibility: visible !important;
}

/* Show more folders */
#editBMPanel_folderTree {
  min-height: 42vh !important;
}

/*************************/
/***   downloads.css   ***/
/*************************/

#emptyDownloads {
  padding: 1em 8px 1em !important;
}

#downloadsPanel-blockedSubview,
#downloadsPanel-mainView {
  min-width: 20em !important;
  max-width: 30em !important;
  padding: 0.62em !important;
}

/***********************/
/***   findbar.css   ***/
/***********************/

findbar {
  border-top: none !important;
  transition: transform 82ms linear, opacity 82ms linear 32ms !important;
  background: none !important;
  pointer-events: none;
  z-index: 1;
  padding: 0px !important;
}

.findbar-container > .findbar-find-fast {
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar > .findbar-container,
findbar > .close-icon {
  border-width: 0 0 1px 0px;
  pointer-events: auto;
}

.findbar-find-status {
  display: -moz-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-flex: 1;
}

.findbar-closebutton {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
}

.findbar-closebutton > image {
  padding: 3px;
}
.findbar-closebutton:hover > image {
  background: var(--toolbarbutton-hover-background) !important;
  border-radius: 4px;
}
findbar > .findbar-container > hbox {
  margin: 0 5px;
}

findbar::before {
  display: -moz-box;
  -moz-box-flex: 100;
}

/*********************************************/
/***   Tab audio indicator over all tabs   ***/
/*********************************************/

.tabbrowser-tab
  > .tab-stack
  > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: none !important;
}

.tabbrowser-tab {
  min-width: 0px !important;
}

.tab-icon-image,
.tab-throbber {
  opacity: 1 !important;
}

.tab-icon-overlay:not([crashed]) {
  top: -5.5px;
  inset-inline-end: -6px;
  fill-opacity: 0.8 !important;
  color: black !important;
  z-index: 1;
  padding: 2px;
  opacity: 1 !important;
  stroke: var(--tab-icon-overlay-stroke, #00000066) !important;
}

@media (prefers-color-scheme: dark) {
  .tab-icon-overlay:not([crashed]) {
    top: -5.5px;
    inset-inline-end: -6px;
    fill-opacity: 1 !important;
    color: white !important;
    z-index: 1;
    padding: 2px;
    opacity: 1 !important;
    stroke: var(--tab-icon-overlay-stroke, #00000066) !important;
  }
}

.tab-icon-overlay:not([crashed]):hover {
  border-radius: 10px !important;
}

/*************************************/
/***   Tab close button on hover   ***/
/*************************************/

/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button {
  display: none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/**********************************/
/***   Tab close over favicon   ***/
/**********************************/

/*.tab-close-button{
  -moz-box-ordinal-group: 0;
  display: -moz-box !important;
  position: relative;
  margin-inline: -4px -20px !important;
  padding-inline-start: 7px !important;
  z-index: -1;
  visibility: hidden;
  width: unset !important;
}
.tabbrowser-tab[pinned] .tab-close-button{ display: auto !important; }
.tabbrowser-tab:hover .tab-close-button{
  background-color: var(--lwt-selected-tab-background-color,var(--toolbar-bgcolor)) !important;
  background-image: linear-gradient(var(--toolbarbutton-hover-background),var(--toolbarbutton-hover-background))
}
.tab-icon-stack:hover ~ .tab-close-button,
.tab-close-button:hover,
.tabbrowser-tab:not([image]) .tab-close-button{ visibility: visible; z-index: 1 }
.tabbrowser-tab:not([image]) .tab-close-button{ margin-inline-end: 0 !important; }
*/

/*******************************************************/
/***   Megabar Styler General - version 2021-09-09   ***/
/*******************************************************/

/*** General ***/
:root {
  /* Number of pixels of enlargement when URL bar is focused */
  --mbarstyler-popout-pixels: 0px; /* [0px - 7px] */
  /* Top Bar Display or Not */
  --mbarstyler-top-bar-display: block; /* [block,none] */
  /* Font sizes (default: 13.8px for title, 10.2px for URL) */
  --mbarstyler-title-font-size: 15px; /* [13px - 18px] */
  --mbarstyler-url-font-size: 13px; /* [12px - 16px] */
  /* Rows to show without scrolling */
  --mbarstyler-max-rows-without-scrolling: 10;
  /* Bottom border for each result row */
  --mbarstyler-bottom-border-width: 1px; /* [0px or 1px] */
  /* Height adjustment for labels (Proton) */
  --mbarstyler-label-height-adjustment: 35px; /* [0px or 35px] */
  /* Match display style */
  --mbarstyler-match-weight: 700; /* [400,700] */
  --mbarstyler-match-background-opacity: 0; /* [0.0,0.05,0.1] */
}

/*** URL bar enlargement or lack thereof ***/
/* Compute new position, width, and padding */
#urlbar[breakout][breakout-extend] {
  top: calc(5px - var(--mbarstyler-popout-pixels)) !important;
  left: calc(0px - var(--mbarstyler-popout-pixels)) !important;
  width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;
  padding: var(--mbarstyler-popout-pixels) !important;
}

[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: calc(3px - var(--mbarstyler-popout-pixels)) !important;
}

[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: calc(4px - var(--mbarstyler-popout-pixels)) !important;
}

/* Prevent shift of URL bar contents */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}

/* Do not animate */
#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
}

/* Remove shadows */
#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: none !important;
}

/*** Top "Blue Bar" Display ***/
.urlbarView-row:first-of-type {
  display: var(--mbarstyler-top-bar-display) !important;
}

/*** Font Sizes and Scrolling ***/
/* Title font-size */
.urlbarView-row .urlbarView-title {
  font-size: var(--mbarstyler-title-font-size) !important;
}

/* URL / action font-size */
.urlbarView-row .urlbarView-secondary,
.urlbarView-row .urlbarView-url,
.urlbarView-row .urlbarView-action {
  font-size: var(--mbarstyler-url-font-size) !important;
}

/* Set max-height for items visible without scrolling */
#urlbarView-results,
#urlbar-results {
  height: unset !important;
  max-height: calc(
    2.5 *
      (
        var(--mbarstyler-title-font-size) +
          var(--mbarstyler-bottom-border-width)
      ) * var(--mbarstyler-max-rows-without-scrolling) +
      var(--mbarstyler-label-height-adjustment)
  ) !important;
}

#urlbar-results {
  overflow-y: auto !important;
}

/* Clean up extra spacing at the top and bottom */
#urlbar-results {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Subtle border between results */
.urlbarView-row:not(:last-of-type) {
  border-bottom: var(--mbarstyler-bottom-border-width) solid rgba(0, 0, 0, 0.1) !important;
}

/* Match Styling Like Fx43-47 */
[lwt-popup-darktext] .urlbarView-row:not([selected]) .urlbarView-title strong,
[lwt-popup-darktext] .urlbarView-row:not([selected]) .urlbarView-url strong {
  font-weight: var(--mbarstyler-match-weight) !important;
  box-shadow: inset 0 0 1px 1px
    rgba(0, 0, 0, calc(var(--mbarstyler-match-background-opacity) * 2));
  background-color: rgba(0, 0, 0, var(--mbarstyler-match-background-opacity));
  border-radius: 2px;
}

[lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-title strong,
[lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-url strong {
  font-weight: var(--mbarstyler-match-weight) !important;
  box-shadow: inset 0 0 1px 1px
    rgba(255, 255, 255, calc(var(--mbarstyler-match-background-opacity) * 2));
  background-color: rgba(
    255,
    255,
    255,
    var(--mbarstyler-match-background-opacity)
  );
  border-radius: 2px;
}

/*******************************************************************/
/***   Megabar Styler Two-Row Flex Layout - version 2021-09-09   ***/
/*******************************************************************/

/* Adjust heights for scrolling */
#urlbarView-results,
#urlbar-results {
  max-height: calc(
    1.625 *
      (
        var(--mbarstyler-title-font-size) + var(--mbarstyler-url-font-size) +
          var(--mbarstyler-bottom-border-width)
      ) * var(--mbarstyler-max-rows-without-scrolling)
  ) !important;
}

/* Wrap the url (adapted from Fx75 narrow bar design) */
.urlbarView-row-inner {
  flex-wrap: wrap !important;
  padding-block: 2px !important;
}

.urlbarView-no-wrap {
  max-width: 100% !important;
  flex-basis: 100% !important;
  position: relative;
}

/* Remove Proton excess height from search suggestions */
:root:not([uidensity="compact"]) .urlbarView-row[type="search"] {
  min-height: unset !important;
}

/* Adjust horizontal and vertical URL position */
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url {
  padding-inline-start: calc(6px + 4px + /* favicon */ 16px) !important;
  margin-top: calc(
    2px + (var(--mbarstyler-url-font-size) - var(--mbarstyler-title-font-size))
  );
}

/* Hide the separator if there's a URL */
.urlbarView[actionoverride]
  .urlbarView-row[has-url]
  .urlbarView-title-separator,
.urlbarView
  .urlbarView-row[has-url]:not([type$="tab"])
  .urlbarView-title-separator,
.urlbarView
  .urlbarView-row[type="remotetab"]:-moz-any(:hover, [selected])
  .urlbarView-title-separator {
  display: none !important;
}

/* Move Switch Tab info to URL line :: added 2020-04-12 */
/* Make sure URL is always visible */
.urlbarView-row[type="switchtab"][has-url="true"] .urlbarView-url {
  visibility: visible !important;
}

/* Show Switch to Tab or Open depending on [actionoverride] */
.urlbarView:not([actionoverride])
  .urlbarView-row[type="switchtab"][has-url="true"]
  .urlbarView-url::before {
  content: "Switch to Tab: ";
  font-style: italic;
  color: var(--urlbar-popup-action-color);
}

.urlbarView:not([actionoverride])
  .urlbarView-row[type="switchtab"][has-url="true"][selected]
  .urlbarView-url::before {
  color: HighlightText; /* 2020-05-31 improve visibility when selected */
}

.urlbarView[actionoverride]
  .urlbarView-row[type="switchtab"][has-url="true"]
  .urlbarView-url::before {
  content: "Open: ";
  font-style: italic;
  color: var(--urlbar-popup-action-color);
}

.urlbarView[actionoverride]
  .urlbarView-row[type="switchtab"][has-url="true"][selected]
  .urlbarView-url::before {
  color: HighlightText; /* 2020-05-31 improve visibility when selected */
}

/* Hide the existing Action phrase and separator */
.urlbarView-row[type="switchtab"][has-url="true"] .urlbarView-action,
.urlbarView-row[type="switchtab"][has-url="true"] .urlbarView-title-separator {
  display: none !important;
}

/* A little more room for the address bar when drop-down is open :: added 2020-06-02 */
.urlbarView {
  margin-block-start: 0 !important;
}

/*********************************/
/***   Old icons preparation   ***/
/*********************************/
/* Menu - Reduce Padding */
:root {
  --menu-padding: 0.35em; /* Win7, 8: 0px */
}
:root[uidensity="compact"] {
  --menu-padding: 0.25em;
}
:root[uidensity="touch"] {
  --menu-padding: 0.5em;
}
menupopup:not(.in-menulist) > menuitem,
menupopup > menu {
  /* Original: 0.5em */
  padding-block: var(--menu-padding) !important;
}

@supports not -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  :root:not([uidensity="touch"]) .menu-text,
  :root:not([uidensity="touch"]) .menu-iconic-text {
    padding-inline-end: 0 !important; /* Original: 2px */
  }
  :root:not([uidensity="touch"]) .menupopup-arrowscrollbox {
    padding-block: 1px !important; /* Original: 4px*/
  }
  :root:not([uidensity="touch"]) #context-navigation:not([hidden]) {
    padding: 0 0 1px !important; /* Original: 0 0 4px*/
  }
  :root:not([uidensity="touch"]) .menu-right {
    margin-right: 6px !important; /* Original: 12px */
  }
}

/* Indicate current open tab with a gradient top border */
.tab-background[selected="true"] {
  background: linear-gradient(
      to bottom,
      transparent 2px,
      var(--toolbar-bgcolor) 2px,
      var(--toolbar-bgcolor) 100%
    ),
    linear-gradient(90deg, #9059ff 0%, #ff4aa2 52.08%, #ffbd4f 100%) !important;
}
.tab-background:is([selected], [multiselected]):-moz-lwtheme {
  border: 0px solid var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
  border-radius: 0 !important;
}